# Ignore binaries
/bin
/release

# Ignore generated manifests
/manifests/release

# Generated go-test coverage reports
coverprofiles/
coverprofile.out
coverprofile.out.tmp

# Ignore test files
test-*.yaml

# Ignore e2e test outputs
/logs
tmp_image_kube-upgrade-e2e-*.tar

# Ignore helm chart packages
/kube-upgrade-*.tgz
/manifests/helm/charts
