# Ignore binaries
/bin
/release

# Ignore generated manifests
/manifests/release

# Generated go-test coverage reports
coverprofiles/

# Ignore test files
test-*.yaml

# Ignore e2e test outputs
/logs
tmp_controller_image_kube-upgrade-e2e-*.tar
